.admin-navbar-container {
    color: white;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: rgb(36, 25, 10);

    h1>* {
        text-decoration: none;
        color: white;
        font-size: larger;

        &:hover {
            opacity: 0.5;
        }
    }

    .dropdown-menu-container {
        position: relative;
        color: white;
        font-weight: bold;

        .dropdown-menu {
            z-index: 1;
            position: absolute;
            top: 100%;
            right: 10%;
            width: 150px;
            background-color: white;
            color: #111827;
            border-radius: 5px;
            border: 0.5px solid rgb(128, 128, 128, 0.2);

            ul {
                display: flex;
                flex-direction: row;
                list-style: none;
                justify-content: flex-start;
                list-style-type: none;
                padding: 0;
                display: block;

                li {
                    width: auto;
                    cursor: pointer;
                    padding: 10px;
                    border-radius: 5px;


                    &:hover {
                        background-color: rgba(177, 177, 177, 0.5);
                    }
                }
            }

            &.active {
                display: block;
                visibility: visible;
                transform: translateY(0);
                transition: var(--speed) ease;
            }

            &.inactive {
                display: none;
                visibility: hidden;
                transform: translateY(-20px);
                transition: var(--speed) ease;
            }
        }
    }
}