.dashboard-container {
    padding: 20px 20px;
    margin: 20px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .cards-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;

        .card {
            min-width: 250px;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
            padding: 35px 25px;
            border: 0.5px solid rgb(128, 128, 128, 0.2);
            border-radius: 5px;
            font-size: larger;

            .icon-container>* {
                height: 60px;
                width: 60px;
            }

            &:hover {
                cursor: pointer;
                background-color: rgb(128, 128, 128, 0.2);
            }
        }
    }
}