.footer-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(71, 71, 71, 0.87);
}

.footer-element {
    color: white;
    flex: 1;
    padding: 20px;

    /* background-color: rgb(53, 33, 0); */
}

.footer-left-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.footer-left-element-description {
    margin: 20px 0px;
    text-align: justify;
}

.footer-left-element-socials {
    display: flex;
}

.footer-container .icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 7px;
}

.footer-small-title {
    margin-bottom: 30px;
}

.footer-center-container ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.footer-right-container ul {
    margin: 0;
    padding: 0;
    display: block;
}

.footer-center-container ul li {
    width: 50%;
    margin-top: 5px;
}

.footer-container ul li a {
    color: white;
    text-decoration: underline;
    transition: all 200ms;
}

.footer-center-container ul li:hover {
    transform: scale(1.01);
}

.footer-right-container li {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 5px;
}
