.error-page {
    display: block;
    justify-content: center;
    text-align: center;
    margin: 10% 0px;

    h1,
    p,
    i {
        font-size: x-large;
        margin: 30px 0px;
    }

    button {
        margin-left: 15px;
        background-color: rgb(214, 194, 170);
        border-radius: 5px;
        border-width: 0;
        box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
        color: rgb(104, 58, 1);
        padding: 10px;
        font-size: 20px;
        transition: all 200ms;


        &:hover {
            cursor: pointer;
            background-color: rgb(204, 185, 163);
            transform: scale(1.05);
        }
    }
}