.product-details-main-container {
  padding: 20px 50px;
  margin: 20px 30px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: white;
}
.product-details-main-container > .image-container {
  margin-right: 30px;
  height: 400px;
  width: 280px;
}
.product-details-main-container > .image-container > img {
  aspect-ratio: 2/3;
  height: 80%;
  width: 80%;
}
.product-details-main-container .book-info-container {
  display: block;
  flex: 3;
}
.product-details-main-container .book-info-container .book-details {
  text-align: start;
}
.product-details-main-container .book-info-container .book-details .book-title {
  font-weight: bolder;
}
.product-details-main-container .book-info-container .book-details .book-description-container {
  margin: 20px 0px;
  text-align: justify;
  font-size: large;
}
.product-details-main-container .book-info-container .book-category-pages-container {
  margin-bottom: 20px;
  font-size: large;
}
.product-details-main-container .book-info-container .book-category-pages-container > * {
  text-align: start;
}
.product-details-main-container .book-info-container .book-price-container {
  text-align: end;
  font-size: 35px;
  margin-left: 20px;
}
.product-details-main-container .book-info-container .book-price-container > p {
  margin: 10px;
}
.product-details-main-container .book-info-container .book-price-container .before-discount {
  text-decoration: line-through;
}
.product-details-main-container .book-info-container .buttons-container {
  margin: 20px 0px;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-wrap: wrap;
  /* flex-wrap: wrap; */
}
.product-details-main-container .book-info-container .buttons-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
  margin-left: 15px;
  gap: 10px;
  margin-left: 15px;
  background-color: rgb(214, 194, 170);
  border-radius: 5px;
  border-width: 0;
  box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
  color: rgb(104, 58, 1);
  height: 50px;
  padding: 0 25px;
  transition: all 200ms;
  opacity: 0.5;
}
.product-details-main-container .book-info-container .buttons-container button:enabled {
  cursor: pointer;
  opacity: 1;
}
.product-details-main-container .book-info-container .buttons-container button:enabled:hover {
  background-color: rgb(204, 185, 163);
  transform: scale(1.05);
}
.product-details-main-container .book-info-container .buttons-container .button-text {
  font-size: 20px;
}
.product-details-main-container .book-info-container .buttons-container .add-to-cart-icon,
.product-details-main-container .book-info-container .buttons-container .payement-icon {
  font-size: 22px;
}

.counter-container,
.counter-number {
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter-container > * {
  margin-left: 10px;
}

.counter-container .counter-number {
  margin-left: 15px;
  background-color: rgb(214, 194, 170);
  border-radius: 5px;
  border-width: 0;
  box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
  color: rgb(104, 58, 1);
  height: 50px;
  padding: 0 25px;
  font-size: 20px;
}/*# sourceMappingURL=productDetails.css.map */