div.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 15px;
    padding: 0px 10px;

    button {
        background-color: rgb(214, 194, 170);
        border-radius: 8px;
        border-width: 0;
        box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
        color: rgb(104, 58, 1);
        cursor: pointer;
        padding: 10px;
        transition: all 200ms;
        min-height: 40px;
        min-width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: rgb(204, 185, 163);
            transform: scale(1.05);
        }

        .icon {
            position: absolute;
            padding: 0;
            margin: 0;
        }
    }

    ul.categories-slider {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        padding: 5px 10px;
        min-height: 30px;
        list-style-type: none;
        overflow-y: scroll;
        scroll-behavior: smooth;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        li {
            font-weight: bold;
            padding: 10px;
            border: 1px solid #80808080;
            border-radius: 8px;
            transition: all 200ms;
            text-align: center;
            min-width: max-content;

            &.selected {
                background-color: rgb(204, 185, 163, 0.5);
            }

            &:hover {
                background-color: rgb(204, 185, 163, 0.5);
                cursor: pointer;
                transform: scale(1.08);
            }
        }
    }
}

.products-container {
    padding: 20px;
    margin: 20px 30px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    background-color: white;
    gap: 10px;
    border-radius: 5px;
}

.no-books-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    >* {
        place-self: center;
        margin: 15px;
    }

    h2 {
        font-size: 30px;
    }

    button {
        font-size: 20px;
        margin-left: 15px;
        background-color: rgb(214, 194, 170);
        border-radius: 50px;
        border-width: 0;
        box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
        color: rgb(104, 58, 1);
        cursor: pointer;
        height: 50px;
        padding: 0 25px;
        transition: all 200ms;

        &:hover {
            background-color: rgb(204, 185, 163);
            transform: scale(1.05);
        }

        a {
            color: rgb(104, 58, 1);
            text-decoration: none;
        }
    }

}