@mixin inputStyle {
    padding: 15px 12px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid rgb(181, 181, 181, 0.5);
    border-radius: 5px;
}

.profile-container {
    height: 100%;
    // width: 100%;
    margin: 20px 30px;
    padding: 20px 10px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1,
    h2 {
        padding: 10px;
        align-items: center;
        display: flex;
        gap: 10px;
    }

    form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        div {
            display: grid;

            label {
                margin: 5px 0px;
                font-size: 16px;
                font-weight: 900;
            }

            input {
                width: 400px;
                @include inputStyle();

                &:focus {
                    outline: rgb(104, 58, 1, 0.5) solid 1px;
                }
            }
        }

        .errmsg {
            width: auto;
            background-color: red;
            border-radius: 5px;
            padding: 7px;
            color: white;
            font-weight: bold;
            font-size: medium;
            margin: 0px 10px 0px 5px;
        }

        .showpassword-container {
            display: flex;
            justify-content: end;
            align-items: center;
            align-self: flex-end;

            input {
                padding: 0;
                margin: 0px 10px;
                height: 15px;
                width: 15px;
            }
        }
    }

    button {
        background-color: rgb(214, 194, 170);
        border-radius: 5px;
        border-width: 0;
        box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
        color: rgb(104, 58, 1);
        width: 400px;
        padding: 15px 29px;
        margin: 10px 0px;
        font-size: 20px;
        transition: all 200ms;
        justify-self: center;

        &:hover {
            cursor: pointer;
            background-color: rgb(204, 185, 163);
            transform: scale(1.05);
        }
    }
}